bin/
steamapps/
*.vpk

csgo/bin/
csgo/expressions
csgo/maps
csgo/materials
csgo/models
csgo/panorama
csgo/resource
csgo/scenes

#This items are used to make Stickers plugin Work. They are necessary only for windows servers
csgo/addons/sourcemod/scripting/include/sourcescramble.inc
csgo/addons/sourcemod/extensions/sourcescramble.ext.dll